*{
	padding:0;
	margin:0;
}
body,html{
	padding:0;
	margin:0;
}
body{
	padding:0 ;
	margin-top:0 ;
	background:#fff;
	font-size:14px;
	font-family: inherit;
	font-family: "Microsoft YaHei";
	color:#333;
	position:relative;
	font-size:12px;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style:normal;
}
input,textarea{
	border:1px solid #bfbfbf;
}

/*支付完成页面开始*/
header{
	width:100%;
	height:50px;
	background:#EE612B;
	text-align:center;
	display: block;
	position:relative;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
header h1{
	text-align:center;
	color:#fff;
	position:relative;
	/*bottom:-10px;*/
	line-height:50px;
	/*font-size:30px;*/
	letter-spacing:1px;
}
header .goback{
	position:absolute;
	left:15px;
	bottom:5px;
	z-index:1;
}
header .goback img{
	height:28px;
}
.main{
	width:100%;
}
.light-color{
	color:#EE612B;
}

.paydone-inner{
	height:auto;
	width:100%;
	margin:30px 0;
	margin-top:50px;
	text-align:center;
}
.paydone-inner > img{
	width:130px;
	text-align:center;
}
.paydone-inner  h2{
	font-size:18px;
	line-height:28px;
	padding:10px 0;
}
.paydone-inner span{
	color:#bfbfbf;
}

nav{
	height:50px;
	margin-bottom:10px;
	/*margin-top:10px;*/
	width:100%;
	background:#fff;
	
}
nav ul{
	height:50px;
	width:100%;
}
nav ul li{
	height:50px;
	float:left;
	width:25%;
	box-sizing:border-box;
	text-align:center;
}
nav ul li a{
	display:inline-block;
	width:100%;
	/*line-height:46px;*/
	margin-top:3px;
	height:44px;
	border-right:1px solid #d2d2d2;
	color:#d2d2d2;
	box-sizing:border-box;
}
nav ul li a i{
	width:100%;
	display:inline-block;
	width:100%;
	margin-top:15px;
	top:10px;
	box-sizing:border-box;
}
nav ul li.current{
	border-bottom:1px solid #EE612B;
}
nav ul li.current a{
	color:#EE612B;
}
.section{
	margin-bottom:10px;
	width:100%;
	background:#fff;
	padding:5px 10px;
	box-sizing:border-box;


}
.main-title{
	height:30px;
	line-height:30px;
	box-sizing:border-box;
	padding:5px 0;
	border-bottom:1px solid #d2d2d2;
}
.main-title h2{
	font-size:16px;
	border-left:2px solid #EE612B;
	line-height:16px;
	text-indent:5px;
	font-weight:400;
}
.main-content{
	width:100%;
	background:#fff;
	padding:5px 0;

}
.main-content > li{
	line-height:28px;

}
.main-content > li span{
	display:inline-block;
	vertical-align: top;
}
.main-content > li span:first-child{
	width:30%;

}
.main-content > li span:nth-child(2){
	width:70%;
}
.price-main .main-content input{
	height:20px;
	border:1px solid #d2d2d2;
	width:60px;
	line-height:20px;
}
.price-main .main-content .small-sign{
	color:#d2d2d2;
	font-size:12px;
	font-style:normal;
	position:relative;
	left:24%;
	top:-3px;
	width:75%;
	overflow:hidden;
}
.price-safe li span:first-child{
	width:30px;
}
.price-safe li span:first-child img{
	width:20px;
	margin-left:5px;
	position:relative;
	top:5px;

}
.btn{
	width:100%;
	padding:20px 0;
	text-align:center;
}
.btn button{
	width:30%;
	height:36px;
	font-size:18px;
	color:#fff;
	border-radius:10px;
	background:#EE612B;
	border:none;
}

.input-name,.input-code,.input-address,.input-relationship{
	width:30%;
	height:20px;
	line-height:22px;
	min-width:60px;
	text-indent:5px;
}
.input-address{
	width:20%;
	margin-right:10px;
}
.address-detial{
	width:60%;
}
.input-card,.input-phone,.input-email{
	width:50%;
	height:22px;
	line-height:22px;
	min-width:100px;
	text-indent:5px;
}
.input-card{
	width:60%;
	height:22px;
	line-height:22px;
	min-width:140px;
	text-indent:5px;
}
.input-phone{
	width:25%;
}
.red-sign{
 	color:#f00;
 	line-height:22px;
 	font-size:20px;
 	position:relative;
 	top:5px;
 }
.select-recording,.select-time,.input-radio{
	display:inline-block;
	margin:5px 2px 0 5px;
	appearance: none;
	-webkit-appearance: none;
	height:15px;
	width:15px;
	border-radius:100%;
	border:1px solid #d2d2d2;
	box-sizing:border-box;
	position:relative;
	top:3px;
}
.select-recording:checked::after,.select-time:checked::after,.input-radio:checked::after{
	content:'';
	display:inline-block;
	width:7px;
	height:7px;
	background:#EE612B;
	border-radius:100%;
	position:absolute;
	top:2.5px;
	left:2.5px;
	bottom:2.5px;
	right:2.5px;
}

.main-content .prompt{
	color:#fc4732;
	line-height:24px;
	font-size:10px;
	line-height:28px;
	margin-left:5px;
	display:none;
}
.section-main{
	padding:5px 0;
}
.section-main h3{
	font-weight:400;
	padding:3px 0 10px 0;
}
.section-main p{
	color:#333;
	opacity: 0.8;
}
.section-link{

}
.section-link li{
	display: inline-block;
	padding:10px 10px 10px 0;
	color:#fc4732;
	font-weight:medium;
}
.section-down{

}
.input-radio{
	position:relative;
	top:2px;
}
.last-two,.next-two{
	margin:0 5%;
}
.btn>.last-two{
	background:#D2D2D2;
}

.out-section{
	position:absolute;
	background:#fff;
	bottom:0;
	top:0;
	padding:10px;
	left:0;
	width:100%;
	box-sizing: border-box;
	line-height:24px;
	display: none;
}
.out-section h2{
	text-align:center;
	font-weight:400;
	padding:10px 0;
}
.out-section.current{
	display: block;
}
.tbsure-main p{
	line-height:24px;
}
.out-section-select {
	padding:10px;
}

.payget-img{
	text-align:center;
	padding:20px 0;
	border-bottom:1px solid #d2d2d2;
}
.payget-img img{
	width:90px;
}
.payget-img span{
	width:100%;
	line-height;
	display: block;
}
.payget-select-title{
	line-height:28px;
	height:28px;
}
.payget-select-inner {
	width:100%;
	/*border-bottom:1px solid #d2d2d2;*/
	box-sizing: border-box;
}
.payget-select-inner span{
	line-height:50px;
	color:#d2d2d2;
	height: 50px;
	width:100%;
	text-align:center;
	display: inline-block;
}
.payget-select-inner span.current{
	background:#EE612B;
	color:#fff;
}
.btn-phone-check{
	height:22px;
	border-radius:3px;
	background:#EE612B;
	color:#fff;
	border:none;
	text-align:center;
	font-size:12px;
	width:30%;
	margin-left:5%;

}
.payget-card-line{
	height:40px;
	position:relative;
}

.payget-card-line-s,.payget-card-line-md,.payget-card-line-l{
	line-height:40px;
	height:40px;
	display:inline-block;
	text-align:center;
	float:left;
}
.payget-card-line-s {
	width:40%;
}
.payget-card-line-s img{
	height:40px;
	max-height:40px;
}

.payget-card-line-md{
	width:30%;
}
.payget-card-line-l{
	color:#d2d2d2;
	width:30%;
}
.payget-card-line .yescard{
	display:none;
}
.payget-card-line.current{
	border:1px solid #EE612B;
}
.payget-card-line.current .yescard{
	display: block;
	position:absolute;
	right:0;
	bottom:0;
	width:25px;
}
.payget-card-line.current .payget-card-line-l{
	color:#333;
}
.payget-main p{
	line-height:20px;
	padding:5px 0;
}
