body {
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei ,Î¢ÈíÑÅºÚ, Microsoft JhengHei ,»ªÎÄÏ¸ºÚ,STHeiti,MingLiu
}
.about {
    font-size: 16px;
    color: #666;
    background: #fff;

}

.about_01{
    padding-bottom: 3%;
    padding-top: 3%;

}

.about_02{
    padding-left:0%;
    text-align: center;
}


.about_table{
    font-size: 14px;
    color: #666;
    padding-bottom: 2%;
    background: #fff;


}
.about_table01{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    text-indent:7%;
    line-height:180%;
}
.about_table02{
    margin-top: 3%;
}

.about_table03{
    margin-top: 2%;
    width: 70%;
    margin-left: 15%
}
.about_table04{
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    text-indent:7%;
    line-height:180%;
}
.about_table05{
    margin-top: 3%;
    width: 80%;
    margin-left: 10%
}
.about_table06{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    text-indent:7%;
    line-height:180%;
    margin-bottom: 3%;
}
.about_03{

    margin-top: 4%;
    margin-bottom: 2%;
}
.about_03 span{
    margin-left: 2%;
    color:#ff5400;
    font-weight: bold
}
.about_04 {
    height: 30%;
    border-top: 1px solid #dcdada;
}
.about_04_1{
    height: 20%;
    margin-left: 2%;
    margin-right: 2%;
    text-indent: 7%;
}

.about_04_2{
    height: 20%;
    width: 88%;
    margin-left: 10%;
    margin-right: 2%;
}
.about_04 p {

    margin-right: 2%;
    margin-left: 2%;
}
.about_05 {
    height: 30%;
    border-top: 1px solid #dcdada;
}
.about_05_1 {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 50%;

}
.about_06 {
    width: 98%;
    height: 100%;
    margin-right: 2%;
}


.personal_p001{
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -15%;
}
.per_p001{
    display: inline-block;
    text-align: right;
    width: 25%;
}
.per_p002{
    color: #333333;
    width: 74%;
    display: inline-block;
}





